* {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

body,
html {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

/* landing img styles */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url('./assets/images/heroimg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.hero-text {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2rem;
  border-radius: 2rem;
  align-self: center;
  margin-bottom: auto;
  margin-top: auto;
}

.hero-text > h1 {
  color: rgb(218, 227, 250);
  font-size: 8vw;
  margin: 0;
}

/* local weather card */
.header-local-weather {
  display: flex;
}

.header-local-weather-card {
  border-radius: 2rem;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  display: flex;
}

.header-local-weather-city,
.header-local-weather-temp {
  cursor: default;
}

.header-local-weather-city {
  margin-right: 0.5rem;
  cursor: pointer;
}

/* slider component global styles */
#citySlider {
  background-color: #71c5e7;
  height: 50vh;
  display: flex;
  align-items: center;
}

.slider-container {
  background-color: #71c5e7;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow-x: hidden;
  -ms-overflow-style: none;
  padding: 0 3rem;
  margin-right: auto;
}

.slider-container::-webkit-scrollbar {
  display: none;
}

/* city weather cards */
.card {
  border-radius: 2rem;
  margin: 0.5rem;
  background-color: white;
  min-width: 20vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
}

.card-header {
  display: flex;
}

.card-body {
  padding: 2px 16px;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.card-avatar {
  width: 30%;
  height: 30%;
  margin-left: 10%;
  border-radius: 2rem;
}

.card-title {
  margin: 0;
  align-self: center;
}

.card-row {
  display: flex;
  height: 3rem;
}

.card-row > img {
  width: 2.5rem;
}

.card-row > p {
  margin: 0;
  align-self: center;
}

.card-group {
  display: flex;
  justify-content: space-between;
}

.minmax {
  font-size: 1rem;
}

/* slider arrows */
.arrow {
  border-color: #000;
  background-color: rgba(0, 0, 0, 0.425);
  cursor: pointer;
  user-select: none;
}

.arrow > i {
  color: rgb(218, 227, 250);
  font-size: 3rem;
  user-select: none;
}

.next {
  right: 0;
}

.prev {
  left: 0;
}

/* city details global styles */
#cityDetails {
  min-height: 50vh;
  background-color: #87ceeb;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url('./assets/images/heroimg2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

/* city details component styles */
.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.details-container > h2 {
  margin-bottom: 0;
}

.details-row,
.details-top-row {
  margin: 0;
  width: 30vw;
  max-width: 20rem;
}

.details-top-row {
  display: flex;
  margin-bottom: 2rem;
}

.details-row > span {
  float: right;
}

.details-temp {
  font-size: 3rem;
}

.unit {
  font-size: 3rem;
  margin: 0;
}

/* city selector style */
.city-select {
  padding: 0.5rem 0.5rem;
  margin: 1rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 10vw;
}
