* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url('heroimg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2rem;
  border-radius: 2rem;
}

.hero-text > h1 {
  color: rgb(218, 227, 250);
  font-size: 8vw;
  margin: 0;
}

#app {
  background-color: rgba(5, 12, 116, 0.9);
  min-height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  max-width: 100%;
}

#app::-webkit-scrollbar {
  display: none;
}

#app > .card > img {
  max-width: 80%;
  border-radius: 2rem;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 2rem;
  margin: 0.5rem;
  background-color: white;
  min-width: 10rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
}

.container {
  padding: 2px 16px;
}
